<section class="banner text-center text-white d-flex align-items-center justify-content-center">
    <div class="container">
        <h5 class="fw-semibold">KÊNH THÔNG TIN CÔNG NGHỆ GIỚI THIỆU VÀ QUẢNG BÁ</h5>

        <ul class="list-inline mt-3 mb-0">
            <li class="list-inline-item mx-3">Giải pháp CNTT</li>
            <li class="list-inline-item mx-3">Dịch vụ CNTT</li>
            <li class="list-inline-item mx-3">Doanh nghiệp CNTT</li>
        </ul>

        <h6 class="mt-4 fw-bold">HỖ TRỢ NGƯỜI DÙNG</h6>

        <ul class="list-unstyled mb-0">
            <li>Tra cứu thông tin nhanh chóng</li>
            <li>So sánh các lựa chọn</li>
            <li>Tìm kiếm thuận tiện</li>
        </ul>
    </div>
</section>