<footer class="text-center text-muted py-4 border-top">
    <div class="container">
        <p class="fw-bold mb-1">© HIỆP HỘI CÔNG NGHỆ VÀ DỊCH VỤ SỐ VIỆT NAM</p>
        <p class="mb-1">Email: contact@fithou.edu.vn | Website: 
            <a href="http://www.fithou.edu.vn" target="_blank" class="text-decoration-none text-primary">
                www.fithou.edu.vn
            </a>
        </p>
        <p class="mb-1">Văn phòng: 96 Định Công, Thanh Xuân, Hà Nội</p>
        <p class="mb-0">Điện thoại: 0364143317 | Fax: (024) 3577 2337</p>
    </div>
</footer>
